$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "assets/icons/fonts" !default;

$icon-trash: "\e904";
$icon-plus-alt: "\e900";
$icon-floppy: "\e902";
$icon-disk: "\e902";
$icon-save: "\e902";
$icon-store: "\e902";
$icon-document-edit: "\e903";

